In [12]:
from ctse.sysdata.csv_ctse_strategy_backtest_data import csvCTSEStrategyBacktestData
from sysdata.csv.csv_multiple_prices import csvFuturesMultiplePricesData
import pandas as pd
# display(backtest[(backtest.index >= '2022/05/12') & (backtest.index <= '2022/06/12')])

ins = 'RM'
backtest = csvCTSEStrategyBacktestData().read('1_B', ins, 'dma_long')
contract = csvFuturesMultiplePricesData('ctse.data.multiple_prices_csv')._get_multiple_prices_without_checking(ins)[['PRICE_CONTRACT', 'PRICE', 'FORWARD']]
df = pd.concat([backtest, contract], axis=1)

In [13]:
df

,tr_the_open_price,tr_the_close_price,tr_operate_flag,tr_nav_of_product,PRICE_CONTRACT,PRICE,FORWARD
index,,,,,,,
2014-01-02,2616.000000,2641.000000,0.0,1.000000,20140500,2616,NaN
2014-01-03,2629.000000,2627.000000,0.0,1.000000,20140500,2629,NaN
2014-01-06,2628.000000,2620.000000,0.0,1.000000,20140500,2628,NaN
2014-01-07,2630.000000,2582.000000,0.0,1.000000,20140500,2630,NaN
2014-01-08,2587.000000,2586.000000,0.0,1.000000,20140500,2587,NaN
...,...,...,...,...,...,...,...
2022-08-25,5628.481949,5548.314766,-1.0,1.501469,20230100,3019,NaN
2022-08-26,5509.163352,5425.267463,-1.0,1.501469,20230100,2955,NaN
2022-08-29,5438.317935,5395.437814,-1.0,1.501469,20230100,2917,NaN
2022-08-30,5406.623932,5345.100281,-1.0,1.501469,20230100,2900,NaN
2022-08-31,NaN,NaN,NaN,NaN,20230100,2848,NaN